#header{
  text-decoration: none;
  color: black;
  margin: 0 30%;
  font-size: 55px;
  font-family: "Special Elite", sans-serif;
  font-weight: lighter;
}

#header:hover{
  border-bottom: 3px ridge black;
  text-shadow: 3px 3px 0 gray;
}

body{
  font-family: "Amatic SC", serif;
}

h2{
  font-size: 30px;
  margin: 2% 30% 2% 30%;
}

.gameboard{
  margin: 0 25%;
}

.word{
  border: 2px solid black;
  margin: 0 40%;
  padding: 5px;
  width: 100px;
  font-size: 22px;
  font-weight: bold;
}

button{
  margin: 10px 30%;
  width: 70px;
  height: 25px;
  border-radius: 25px;
}

td{
  font-size: 30px;
  padding: 5px 5px 0 5px;
}

td:hover{
  color: white;
  background: black;
}
